/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--duration: 20s;
}

body {
	font-family: 'Raleway', sans-serif;
	overflow: hidden;
}

.scrollHiddenX {
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px transparent;
		border-radius: 10px;
		background-color: transparent;
	}

	&::-webkit-scrollbar {
		width: 0px;
		height: 0px;
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px transparent;
		background-color: transparent;
	}
}

.scrollHiddenY {
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px tran;
		border-radius: 10px;
		background-color: tran;
	}

	&::-webkit-scrollbar {
		width: 4px;
		height: 0px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px transparent;
		background-color: transparent;
	}

	&:hover {
		transition: all 0.4s;
		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.2);
			background-color: rgba(255, 255, 255, 0.2);
		}
	}
}

.wrapper-parallax {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	height: 100dvh;
	overflow: hidden;
	width: 100dvw;
	opacity: 0.8;
	transform: translate3d(20%, 0%, 0) perspective(500px) rotateY(10deg);
}

.images-line {
	animation: runner var(--duration) linear infinite;
	display: flex;
	gap: 32px;
	transform: translateX(23%);
	&:nth-child(even) {
		animation-duration: calc(var(--duration) * 1.5);
	}
	.line {
		background-position: 50% 50%;
		background-size: cover;
		flex: none;
		height: 29vh;
		width: 20vh;
		position: relative;
		transition: ease-in-out all 0.3s;
		border-radius: 1rem;
		&:after {
			content: '';
			background: inherit;
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			top: 3vh;
			position: absolute;
			background-size: cover;
			z-index: -1;
			transition: ease-in-out all 0.3s;
			filter: blur(25px) opacity(0.8);
		}
	}
}
@keyframes runner {
	to {
		transform: translateX(-10.4%);
	}
}

.translate3d-y {
	&:hover {
		transform: translate3d(0%, 0%, 0) perspective(1000px) rotateX(20deg);
	}
}

.translate3d-x {
	@media screen and (min-width: 1024px) {
		transform: translate3d(0%, 0%, 0) perspective(1000px) rotateY(20deg) rotateX(20deg);
		&:hover {
			transform: translate3d(0%, 0%, 0) perspective(1000px) rotate(0deg);
		}
	}
}

.buttonFollow {
	position: relative;
	border-radius: 6px;
	border: none;
	color: #fff;
	cursor: pointer;
	font-weight: 600;
	background-color: #2c2c2c;
	transition: all 0.2s ease;
	&:hover {
		&::before {
			content: '';
			top: -70%;
			z-index: 1;
			background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
				radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
				radial-gradient(circle, #535efc 20%, transparent 20%),
				radial-gradient(circle, #7d2ae8 20%, transparent 20%),
				radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
				radial-gradient(circle, #0ec8ee 20%, transparent 20%),
				radial-gradient(circle, #7d2ae8 20%, transparent 20%),
				radial-gradient(circle, #0ec8ee 20%, transparent 20%),
				radial-gradient(circle, #0ec8ee 20%, transparent 20%);
			background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
			background-position: 50% 120%;
			animation: greenTopBubbles 2s ease;
		}
		&::after {
			content: '';
			top: 70%;
			z-index: 1;
			background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
				radial-gradient(circle, #535efc 20%, transparent 20%),
				radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
				radial-gradient(circle, #535efc 20%, transparent 20%),
				radial-gradient(circle, #7d2ae8 20%, transparent 20%),
				radial-gradient(circle, #535efc 20%, transparent 20%),
				radial-gradient(circle, #7d2ae8 20%, transparent 20%);
			background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
			background-position: 50% 0%;
			animation: greenBottomBubbles 2s ease;
		}
	}
	&::after,
	&::before {
		position: absolute;
		content: '';
		width: 150%;
		left: 50%;
		height: 100%;
		transform: translateX(-50%);
		z-index: -1000;
		background-repeat: no-repeat;
	}
}
@keyframes greenTopBubbles {
	0% {
		background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
	}

	50% {
		background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
	}

	100% {
		background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
		background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
	}
}

@keyframes greenBottomBubbles {
	0% {
		background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
	}

	50% {
		background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
	}

	100% {
		background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
		background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
	}
}

.loader {
	position: relative;
	width: 64px;
	height: 64px;
}

.loader div {
	position: absolute;
	border: 4px solid #454ade;
	border-radius: 50%;
	animation: loader8435 1s ease-out infinite;
}

.loader div:nth-child(2) {
	animation-delay: -0.5s;
}

@keyframes loader8435 {
	0% {
		top: 32px;
		left: 32px;
		width: 0;
		height: 0;
		opacity: 1;
	}

	100% {
		top: 0;
		left: 0;
		width: 64px;
		height: 64px;
		opacity: 0;
	}
}

.loader-character {
	width: fit-content;
	font-size: 40px;
	font-family: monospace;
	font-weight: bold;
	text-transform: uppercase;
	color: #0000;
	-webkit-text-stroke: 1px #000;
	background: linear-gradient(90deg, #0000 33%, #000 0 67%, #0000 0) 100%/300% 100% no-repeat text;
	animation: l12 4s steps(14) infinite;
}
.loader-character:before {
	content: 'LY MINH TAN - PHELAN';
}
@keyframes l12 {
	to {
		background-position: 0;
	}
}

.loader-character span {
	position: absolute;
	color: #fff;
	transform: translate(-50%, -50%);
	font-size: 52px;
	letter-spacing: 5px;
}

.loader-character span:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 0.3px white;
}

.loader-character span:nth-child(2) {
	color: white;
	-webkit-text-stroke: 1px white;
	animation: uiverse723 3s ease-in-out infinite;
}

@keyframes uiverse723 {
	0%,
	100% {
		clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
	}

	50% {
		clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
	}
}

/* From Uiverse.io by LeonKohli */
.glitch-container {
	position: relative;
	font-family: 'Orbitron', sans-serif;
	font-size: 50px;
	font-weight: 900;
	text-transform: uppercase;
	color: #00ffff;
	text-shadow: 0.05em 0 0 #ff00ff, -0.03em -0.04em 0 #ffff00, 0.025em 0.04em 0 #00ffff;
	animation: glitch 725ms infinite;
}

.glitch-container span {
	position: absolute;
	top: 0;
	left: 0;
}

.glitch-container span:first-child {
	animation: glitch 500ms infinite;
	clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
	transform: translate(-0.04em, -0.03em);
	opacity: 0.75;
}

.glitch-container span:last-child {
	animation: glitch 375ms infinite;
	clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
	transform: translate(0.04em, 0.03em);
	opacity: 0.75;
}

@keyframes glitch {
	0% {
		text-shadow: 0.05em 0 0 #ff00ff, -0.03em -0.04em 0 #ffff00, 0.025em 0.04em 0 #00ffff;
	}
	15% {
		text-shadow: 0.05em 0 0 #ff00ff, -0.03em -0.04em 0 #ffff00, 0.025em 0.04em 0 #00ffff;
	}
	16% {
		text-shadow: -0.05em -0.025em 0 #ff00ff, 0.025em 0.035em 0 #ffff00, -0.05em -0.05em 0 #00ffff;
	}
	49% {
		text-shadow: -0.05em -0.025em 0 #ff00ff, 0.025em 0.035em 0 #ffff00, -0.05em -0.05em 0 #00ffff;
	}
	50% {
		text-shadow: 0.05em 0.035em 0 #ff00ff, 0.03em 0 0 #ffff00, 0 -0.04em 0 #00ffff;
	}
	99% {
		text-shadow: 0.05em 0.035em 0 #ff00ff, 0.03em 0 0 #ffff00, 0 -0.04em 0 #00ffff;
	}
	100% {
		text-shadow: -0.05em 0 0 #ff00ff, -0.025em -0.04em 0 #ffff00, -0.04em -0.025em 0 #00ffff;
	}
}

.text-raleway {
	font-family: 'Indie Flower', serif;
}

.light {
	width: 150px;
	height: 100%;
	position: absolute;
	left: -20%;
	top: 0px;
	background: linear-gradient(
		87deg,
		rgba(0, 0, 0, 0) 0%,
		rgb(229, 235, 236) 40%,
		rgb(246, 248, 248) 60%,
		rgba(0, 0, 0, 0) 100%
	);
	animation: light 6s infinite ease-in-out;
}

@keyframes light {
	from {
		left: -30%;
	}
	to {
		left: 100%;
	}
}

.loader_block {
	perspective: 600px;
	width: 100px;
	height: 100px;
	.cube {
		width: 100%;
		height: 100%;
		transform-style: preserve-3d;
		animation: rotate 4s linear infinite;
	}

	.face {
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0.8;
	}

	.face_border {
		border: 1px solid #fff;
	}
	.face_purple-border {
		border: 1px solid #b2a5ff;
	}
	.face_blue-border {
		border: 1px solid #a1e3f9;
	}

	.face:nth-child(1) {
		transform: rotateX(90deg) translateZ(50px);
	}

	.face:nth-child(2) {
		transform: rotateX(-90deg) translateZ(50px);
	}

	.face:nth-child(3) {
		transform: translateZ(50px);
	}

	.face:nth-child(4) {
		transform: rotateY(90deg) translateZ(50px);
	}

	.face:nth-child(5) {
		transform: rotateY(-90deg) translateZ(50px);
	}

	.face:nth-child(6) {
		transform: rotateY(180deg) translateZ(50px);
	}
}

@keyframes rotate {
	0% {
		transform: rotateX(0deg) rotateY(0deg);
	}

	100% {
		transform: rotateX(360deg) rotateY(360deg);
	}
}

.button-profile {
	margin: 0;
	height: auto;
	background: transparent;
	padding: 0;
	border: none;
	cursor: pointer;
}

.button-profile {
	--border-right: 6px;
	--text-stroke-color: rgba(255, 255, 255, 0.6);
	--animation-color: white;
	text-decoration: none;
	font-family: 'Arial';
	position: relative;
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke: 1px var(--text-stroke-color);
}
.hover-text {
	position: absolute;
	box-sizing: border-box;
	content: attr(data-text);
	color: var(--animation-color);
	width: 0%;
	inset: 0;
	border-right: var(--border-right) solid var(--animation-color);
	overflow: hidden;
	transition: 0.5s;
	-webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button-profile:hover .hover-text {
	width: 100%;
	filter: drop-shadow(0 0 23px var(--animation-color));
}

.loader-avatar {
	display: block;
	width: 240px;
	height: 240px;
	position: relative;
	&::after,
	&::before {
		content: '';
		position: absolute;
		left: 50%;
		bottom: 0;
		width: 220px;
		height: 220px;
		border-radius: 50%;
		background: #3e3d3b;
		transform: translate(-50%, -100%) scale(0);
		animation: push_401 2s infinite linear;
	}
	&::after {
		animation-delay: 1s;
	}
}

@keyframes push_401 {
	0%,
	50% {
		transform: translate(-50%, 0%) scale(1);
	}

	100% {
		transform: translate(-50%, -100%) scale(0);
	}
}

.loader_loudBull,
.loader_loudBull::before,
.loader_loudBull::after {
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	animation: rotate 5s linear infinite;
}

.loader_loudBull {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 40px;
	height: 40px;
	border-color: white;
	opacity: 0.8;
}

.loader_loudBull::before,
.loader_loudBull::after {
	position: absolute;
	content: '';
}

.loader_loudBull::before {
	border-color: white;
	opacity: 0.6;
	width: 110%;
	height: 110%;
	animation-delay: 0.5s;
}

.loader_loudBull::after {
	border-color: white;
	opacity: 40;
	width: 120%;
	height: 120%;
	animation-delay: 0.1s;
}

@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}

.loader_textWave {
	position: relative;
}

.loader_textWave span {
	position: absolute;
	color: #fff;
	transform: translate(-50%, -50%);
	font-size: 18px;
	letter-spacing: 5px;
}

.loader_textWave span:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 0.3px white;
}

.loader_textWave span:nth-child(2) {
	color: white;
	-webkit-text-stroke: 1px white;
	animation: uiverse723 3s ease-in-out infinite;
}

@keyframes uiverse723 {
	0%,
	100% {
		clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
	}

	50% {
		clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
	}
}

.triangle1 {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 30px 0 0;
	border-color: #8086e0 transparent transparent transparent;
	margin: 0 auto;
	animation: shk1 1s ease-in-out infinite normal;
}

.triangle2 {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 30px 30px;
	border-color: transparent transparent #6554b388 transparent;
	margin: -30px auto 0;
	animation: shk2 1s ease-in-out infinite alternate;
}
@keyframes shk1 {
	0% {
		transform: rotate(-360deg);
	}

	100% {
	}
}

@keyframes shk2 {
	0% {
		transform: rotate(360deg);
	}
	100% {
	}
}

.text {
	color: #949494;
	margin: 30px auto;
	text-align: center;
	font-weight: 500;
	letter-spacing: 4px;
}

.pyramid-loader {
	position: relative;
	width: 300px;
	height: 200px;
	display: block;
	transform-style: preserve-3d;
	transform: rotateX(-20deg);
}

.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	animation: spin 4s linear infinite;
}

@keyframes spin {
	100% {
		transform: rotateY(360deg);
	}
}

.pyramid-loader .wrapper .side {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	transform-origin: center top;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.pyramid-loader .wrapper .side1 {
	transform: rotateZ(-30deg) rotateY(90deg);
	background: linear-gradient(to bottom right, #1afbf0, #da00ff);
}

.pyramid-loader .wrapper .side2 {
	transform: rotateZ(30deg) rotateY(90deg);
	background: linear-gradient(to bottom right, #1afbf0, #da00ff);
}

.pyramid-loader .wrapper .side3 {
	transform: rotateX(30deg);
	background: linear-gradient(to bottom right, #1afbf0, #da00ff);
}

.pyramid-loader .wrapper .side4 {
	transform: rotateX(-30deg);
	background: linear-gradient(to bottom right, #1afbf0, #da00ff);
}

.pyramid-loader .wrapper .shadow {
	width: 90px;
	height: 90px;
	background: #8b5ad5;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	transform: rotateX(90deg) translateZ(-70px);
	filter: blur(20px);
}

.wrapper-parallax {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	height: 100dvh;
	overflow: hidden;
	width: 100dvw;
	opacity: 0.8;
	transform: translate3d(20%, 0%, 0) perspective(500px) rotateY(0deg);
}

.images-line {
	animation: runner var(--duration) linear infinite;
	display: flex;
	gap: 32px;
	transform: translateX(23%);
	&:nth-child(even) {
		animation-duration: calc(var(--duration) * 1.5);
	}
	.line {
		background-position: 50% 50%;
		background-size: cover;
		flex: none;
		height: 29vh;
		width: 20vh;
		position: relative;
		transition: ease-in-out all 0.3s;
		border-radius: 1rem;
		&:after {
			content: '';
			background: inherit;
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			top: 3vh;
			position: absolute;
			background-size: cover;
			z-index: -1;
			transition: ease-in-out all 0.3s;
			filter: blur(25px) opacity(0.8);
		}
	}
}
@keyframes runner {
	to {
		transform: translateX(-10.4%);
	}
}

.translate3d-y {
	&:hover {
		transform: translate3d(0%, 0%, 0) perspective(1000px) rotateX(0deg);
	}
}

.translate3d-x {
	@media screen and (min-width: 1024px) {
		transform: translate3d(0%, 0%, 0) perspective(1000px) rotateY(0deg) rotateX(20deg);
		&:hover {
			transform: translate3d(0%, 0%, 0) perspective(1000px) rotate(0deg);
		}
	}
}

.loaderFresh {
	#svg-global {
		zoom: 1.2;
		overflow: visible;
	}

	@keyframes fade-particles {
		0%,
		100% {
			opacity: 1;
		}
		50% {
			opacity: 0.5;
		}
	}

	@keyframes floatUp {
		0% {
			transform: translateY(0);
			opacity: 0;
		}
		10% {
			opacity: 1;
		}
		100% {
			transform: translateY(-40px);
			opacity: 0;
		}
	}

	#particles {
		animation: fade-particles 5s infinite alternate;
	}
	.particle {
		animation: floatUp linear infinite;
	}

	.p1 {
		animation-duration: 2.2s;
		animation-delay: 0s;
	}
	.p2 {
		animation-duration: 2.5s;
		animation-delay: 0.3s;
	}
	.p3 {
		animation-duration: 2s;
		animation-delay: 0.6s;
	}
	.p4 {
		animation-duration: 2.8s;
		animation-delay: 0.2s;
	}
	.p5 {
		animation-duration: 2.3s;
		animation-delay: 0.4s;
	}
	.p6 {
		animation-duration: 3s;
		animation-delay: 0.1s;
	}
	.p7 {
		animation-duration: 2.1s;
		animation-delay: 0.5s;
	}
	.p8 {
		animation-duration: 2.6s;
		animation-delay: 0.2s;
	}
	.p9 {
		animation-duration: 2.4s;
		animation-delay: 0.3s;
	}

	@keyframes bounce-lines {
		0%,
		100% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(-3px);
		}
	}

	#line-v1,
	#line-v2,
	#node-server,
	#panel-rigth,
	#reflectores,
	#particles {
		animation: bounce-lines 3s ease-in-out infinite alternate;
	}
	#line-v2 {
		animation-delay: 0.2s;
	}

	#node-server,
	#panel-rigth,
	#reflectores,
	#particles {
		animation-delay: 0.4s;
	}
}
