/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--duration: 20s;
}

body {
	font-family: 'Raleway', sans-serif;
	overflow: hidden;
}

.scrollHiddenX {
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px transparent;
		border-radius: 10px;
		background-color: transparent;
	}

	&::-webkit-scrollbar {
		width: 0px;
		height: 0px;
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px transparent;
		background-color: transparent;
	}
}

.scrollHiddenY {
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px tran;
		border-radius: 10px;
		background-color: tran;
	}

	&::-webkit-scrollbar {
		width: 4px;
		height: 0px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px transparent;
		background-color: transparent;
	}

	&:hover {
		transition: all 0.4s;
		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			-webkit-box-shadow: inset 0 0 6px transparent;
			background-color: transparent;
		}
	}
}

.wrapper-parallax {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	height: 100dvh;
	overflow: hidden;
	width: 100dvw;
	opacity: 0.8;
	transform: translate3d(20%, 0%, 0) perspective(500px) rotateY(10deg);
}

.images-line {
	animation: runner var(--duration) linear infinite;
	display: flex;
	gap: 32px;
	transform: translateX(23%);
	&:nth-child(even) {
		animation-duration: calc(var(--duration) * 1.5);
	}
	.line {
		background-position: 50% 50%;
		background-size: cover;
		flex: none;
		height: 29vh;
		width: 20vh;
		position: relative;
		transition: ease-in-out all 0.3s;
		border-radius: 1rem;
		&:after {
			content: '';
			background: inherit;
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			top: 3vh;
			position: absolute;
			background-size: cover;
			z-index: -1;
			transition: ease-in-out all 0.3s;
			filter: blur(25px) opacity(0.8);
		}
	}
}
@keyframes runner {
	to {
		transform: translateX(-10.4%);
	}
}

.translate3d-y {
	&:hover {
		transform: translate3d(0%, 0%, 0) perspective(1000px) rotateX(20deg);
	}
}

.translate3d-x {
	@media screen and (min-width: 1024px) {
		transform: translate3d(0%, 0%, 0) perspective(1000px) rotateY(20deg) rotateX(20deg);
		&:hover {
			transform: translate3d(0%, 0%, 0) perspective(1000px) rotate(0deg);
		}
	}
}

.buttonFollow {
	position: relative;
	border-radius: 6px;
	border: none;
	color: #fff;
	cursor: pointer;
	font-weight: 600;
	background-color: #2c2c2c;
	transition: all 0.2s ease;
	&:hover {
		&::before {
			content: '';
			top: -70%;
			z-index: 1;
			background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
				radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
				radial-gradient(circle, #535efc 20%, transparent 20%),
				radial-gradient(circle, #7d2ae8 20%, transparent 20%),
				radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
				radial-gradient(circle, #0ec8ee 20%, transparent 20%),
				radial-gradient(circle, #7d2ae8 20%, transparent 20%),
				radial-gradient(circle, #0ec8ee 20%, transparent 20%),
				radial-gradient(circle, #0ec8ee 20%, transparent 20%);
			background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
			background-position: 50% 120%;
			animation: greenTopBubbles 2s ease;
		}
		&::after {
			content: '';
			top: 70%;
			z-index: 1;
			background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
				radial-gradient(circle, #535efc 20%, transparent 20%),
				radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
				radial-gradient(circle, #535efc 20%, transparent 20%),
				radial-gradient(circle, #7d2ae8 20%, transparent 20%),
				radial-gradient(circle, #535efc 20%, transparent 20%),
				radial-gradient(circle, #7d2ae8 20%, transparent 20%);
			background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
			background-position: 50% 0%;
			animation: greenBottomBubbles 2s ease;
		}
	}
	&::after,
	&::before {
		position: absolute;
		content: '';
		width: 150%;
		left: 50%;
		height: 100%;
		transform: translateX(-50%);
		z-index: -1000;
		background-repeat: no-repeat;
	}
}
@keyframes greenTopBubbles {
	0% {
		background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
	}

	50% {
		background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
	}

	100% {
		background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
		background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
	}
}

@keyframes greenBottomBubbles {
	0% {
		background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
	}

	50% {
		background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
	}

	100% {
		background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
		background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
	}
}

.loader {
	position: relative;
	width: 64px;
	height: 64px;
}

.loader div {
	position: absolute;
	border: 4px solid #454ade;
	border-radius: 50%;
	animation: loader8435 1s ease-out infinite;
}

.loader div:nth-child(2) {
	animation-delay: -0.5s;
}

@keyframes loader8435 {
	0% {
		top: 32px;
		left: 32px;
		width: 0;
		height: 0;
		opacity: 1;
	}

	100% {
		top: 0;
		left: 0;
		width: 64px;
		height: 64px;
		opacity: 0;
	}
}

.loader-character {
	width: fit-content;
	font-size: 40px;
	font-family: monospace;
	font-weight: bold;
	text-transform: uppercase;
	color: #0000;
	-webkit-text-stroke: 1px #000;
	background: linear-gradient(90deg, #0000 33%, #000 0 67%, #0000 0) 100%/300% 100% no-repeat text;
	animation: l12 4s steps(14) infinite;
}
.loader-character:before {
	content: 'LY MINH TAN - PHELAN';
}
@keyframes l12 {
	to {
		background-position: 0;
	}
}

.loader-character span {
	position: absolute;
	color: #fff;
	transform: translate(-50%, -50%);
	font-size: 52px;
	letter-spacing: 5px;
}

.loader-character span:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 0.3px white;
}

.loader-character span:nth-child(2) {
	color: white;
	-webkit-text-stroke: 1px white;
	animation: uiverse723 3s ease-in-out infinite;
}

@keyframes uiverse723 {
	0%,
	100% {
		clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
	}

	50% {
		clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
	}
}

/* From Uiverse.io by LeonKohli */
.glitch-container {
	position: relative;
	font-family: 'Orbitron', sans-serif;
	font-size: 50px;
	font-weight: 900;
	text-transform: uppercase;
	color: #00ffff;
	text-shadow: 0.05em 0 0 #ff00ff, -0.03em -0.04em 0 #ffff00, 0.025em 0.04em 0 #00ffff;
	animation: glitch 725ms infinite;
}

.glitch-container span {
	position: absolute;
	top: 0;
	left: 0;
}

.glitch-container span:first-child {
	animation: glitch 500ms infinite;
	clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
	transform: translate(-0.04em, -0.03em);
	opacity: 0.75;
}

.glitch-container span:last-child {
	animation: glitch 375ms infinite;
	clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
	transform: translate(0.04em, 0.03em);
	opacity: 0.75;
}

@keyframes glitch {
	0% {
		text-shadow: 0.05em 0 0 #ff00ff, -0.03em -0.04em 0 #ffff00, 0.025em 0.04em 0 #00ffff;
	}
	15% {
		text-shadow: 0.05em 0 0 #ff00ff, -0.03em -0.04em 0 #ffff00, 0.025em 0.04em 0 #00ffff;
	}
	16% {
		text-shadow: -0.05em -0.025em 0 #ff00ff, 0.025em 0.035em 0 #ffff00, -0.05em -0.05em 0 #00ffff;
	}
	49% {
		text-shadow: -0.05em -0.025em 0 #ff00ff, 0.025em 0.035em 0 #ffff00, -0.05em -0.05em 0 #00ffff;
	}
	50% {
		text-shadow: 0.05em 0.035em 0 #ff00ff, 0.03em 0 0 #ffff00, 0 -0.04em 0 #00ffff;
	}
	99% {
		text-shadow: 0.05em 0.035em 0 #ff00ff, 0.03em 0 0 #ffff00, 0 -0.04em 0 #00ffff;
	}
	100% {
		text-shadow: -0.05em 0 0 #ff00ff, -0.025em -0.04em 0 #ffff00, -0.04em -0.025em 0 #00ffff;
	}
}

.text-raleway {
	font-family: 'Indie Flower', serif;
}

.light {
	width: 150px;
	height: 100%;
	position: absolute;
	left: -20%;
	top: 0px;
	background: linear-gradient(
		87deg,
		rgba(0, 0, 0, 0) 0%,
		rgb(229, 235, 236) 40%,
		rgb(246, 248, 248) 60%,
		rgba(0, 0, 0, 0) 100%
	);
	animation: light 6s infinite ease-in-out;
}

@keyframes light {
	from {
		left: -30%;
	}
	to {
		left: 100%;
	}
}

.loader_block {
	perspective: 600px;
	width: 100px;
	height: 100px;
	.cube {
		width: 100%;
		height: 100%;
		transform-style: preserve-3d;
		animation: rotateLoaderBlock 4s linear infinite;
	}

	.face {
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0.8;
	}

	.face_border {
		border: 1px solid #fff;
	}
	.face_purple-border {
		border: 1px solid #b2a5ff;
	}
	.face_blue-border {
		border: 1px solid #a1e3f9;
	}

	.face:nth-child(1) {
		transform: rotateX(90deg) translateZ(50px);
	}

	.face:nth-child(2) {
		transform: rotateX(-90deg) translateZ(50px);
	}

	.face:nth-child(3) {
		transform: translateZ(50px);
	}

	.face:nth-child(4) {
		transform: rotateY(90deg) translateZ(50px);
	}

	.face:nth-child(5) {
		transform: rotateY(-90deg) translateZ(50px);
	}

	.face:nth-child(6) {
		transform: rotateY(180deg) translateZ(50px);
	}
}

@keyframes rotateLoaderBlock {
	0% {
		transform: rotateX(0deg) rotateY(0deg);
	}

	100% {
		transform: rotateX(360deg) rotateY(360deg);
	}
}

.button-profile {
	margin: 0;
	height: auto;
	background: transparent;
	padding: 0;
	border: none;
	cursor: pointer;
}

.button-profile {
	--border-right: 6px;
	--text-stroke-color: rgba(255, 255, 255, 0.6);
	--animation-color: white;
	text-decoration: none;
	font-family: 'Arial';
	position: relative;
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke: 1px var(--text-stroke-color);
}
.hover-text {
	position: absolute;
	box-sizing: border-box;
	content: attr(data-text);
	color: var(--animation-color);
	width: 0%;
	inset: 0;
	border-right: var(--border-right) solid var(--animation-color);
	overflow: hidden;
	transition: 0.5s;
	-webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button-profile:hover .hover-text {
	width: 100%;
	filter: drop-shadow(0 0 23px var(--animation-color));
}

.loader-avatar {
	display: block;
	width: 240px;
	height: 240px;
	position: relative;
	&::after,
	&::before {
		content: '';
		position: absolute;
		left: 50%;
		bottom: 0;
		width: 220px;
		height: 220px;
		border-radius: 50%;
		background: #3e3d3b;
		transform: translate(-50%, -100%) scale(0);
		animation: push_401 2s infinite linear;
	}
	&::after {
		animation-delay: 1s;
	}
}

@keyframes push_401 {
	0%,
	50% {
		transform: translate(-50%, 0%) scale(1);
	}

	100% {
		transform: translate(-50%, -100%) scale(0);
	}
}

.loader_loudBull,
.loader_loudBull::before,
.loader_loudBull::after {
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	animation: rotate 5s linear infinite;
}

.loader_loudBull {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 40px;
	height: 40px;
	border-color: white;
	opacity: 0.8;
}

.loader_loudBull::before,
.loader_loudBull::after {
	position: absolute;
	content: '';
}

.loader_loudBull::before {
	border-color: white;
	opacity: 0.6;
	width: 110%;
	height: 110%;
	animation-delay: 0.5s;
}

.loader_loudBull::after {
	border-color: white;
	opacity: 40;
	width: 120%;
	height: 120%;
	animation-delay: 0.1s;
}

@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}

.loader_textWave {
	position: relative;
}

.loader_textWave span {
	position: absolute;
	color: #fff;
	transform: translate(-50%, -50%);
	font-size: 18px;
	letter-spacing: 5px;
}

.loader_textWave span:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 0.3px white;
}

.loader_textWave span:nth-child(2) {
	color: white;
	-webkit-text-stroke: 1px white;
	animation: uiverse723 3s ease-in-out infinite;
}

@keyframes uiverse723 {
	0%,
	100% {
		clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
	}

	50% {
		clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
	}
}

.triangle1 {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 30px 0 0;
	border-color: #8086e0 transparent transparent transparent;
	margin: 0 auto;
	animation: shk1 1s ease-in-out infinite normal;
}

.triangle2 {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 30px 30px;
	border-color: transparent transparent #6554b388 transparent;
	margin: -30px auto 0;
	animation: shk2 1s ease-in-out infinite alternate;
}
@keyframes shk1 {
	0% {
		transform: rotate(-360deg);
	}

	100% {
	}
}

@keyframes shk2 {
	0% {
		transform: rotate(360deg);
	}
	100% {
	}
}

.text {
	color: #949494;
	margin: 30px auto;
	text-align: center;
	font-weight: 500;
	letter-spacing: 4px;
}

.pyramid-loader {
	position: relative;
	width: 300px;
	height: 200px;
	display: block;
	transform-style: preserve-3d;
	transform: rotateX(-20deg);
}

.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	animation: spin 4s linear infinite;
}

@keyframes spin {
	100% {
		transform: rotateY(360deg);
	}
}

.pyramid-loader .wrapper .side {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	transform-origin: center top;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.pyramid-loader .wrapper .side1 {
	transform: rotateZ(-30deg) rotateY(90deg);
	background: linear-gradient(to bottom right, #1afbf0, #da00ff);
}

.pyramid-loader .wrapper .side2 {
	transform: rotateZ(30deg) rotateY(90deg);
	background: linear-gradient(to bottom right, #1afbf0, #da00ff);
}

.pyramid-loader .wrapper .side3 {
	transform: rotateX(30deg);
	background: linear-gradient(to bottom right, #1afbf0, #da00ff);
}

.pyramid-loader .wrapper .side4 {
	transform: rotateX(-30deg);
	background: linear-gradient(to bottom right, #1afbf0, #da00ff);
}

.pyramid-loader .wrapper .shadow {
	width: 90px;
	height: 90px;
	background: #8b5ad5;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	transform: rotateX(90deg) translateZ(-70px);
	filter: blur(20px);
}

.wrapper-parallax {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	height: 100dvh;
	overflow: hidden;
	width: 100dvw;
	opacity: 0.8;
	transform: translate3d(20%, 0%, 0) perspective(500px) rotateY(0deg);
}

.images-line {
	animation: runner var(--duration) linear infinite;
	display: flex;
	gap: 32px;
	transform: translateX(23%);
	&:nth-child(even) {
		animation-duration: calc(var(--duration) * 1.5);
	}
	.line {
		background-position: 50% 50%;
		background-size: cover;
		flex: none;
		height: 29vh;
		width: 20vh;
		position: relative;
		transition: ease-in-out all 0.3s;
		border-radius: 1rem;
		&:after {
			content: '';
			background: inherit;
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			top: 3vh;
			position: absolute;
			background-size: cover;
			z-index: -1;
			transition: ease-in-out all 0.3s;
			filter: blur(25px) opacity(0.8);
		}
	}
}
@keyframes runner {
	to {
		transform: translateX(-10.4%);
	}
}

.translate3d-y {
	&:hover {
		transform: translate3d(0%, 0%, 0) perspective(1000px) rotateX(0deg);
	}
}

.translate3d-x {
	@media screen and (min-width: 1024px) {
		transform: translate3d(0%, 0%, 0) perspective(1000px) rotateY(0deg) rotateX(20deg);
		&:hover {
			transform: translate3d(0%, 0%, 0) perspective(1000px) rotate(0deg);
		}
	}
}

.loaderFresh {
	#svg-global {
		zoom: 1.2;
		overflow: visible;
	}

	@keyframes fade-particles {
		0%,
		100% {
			opacity: 1;
		}
		50% {
			opacity: 0.5;
		}
	}

	@keyframes floatUp {
		0% {
			transform: translateY(0);
			opacity: 0;
		}
		10% {
			opacity: 1;
		}
		100% {
			transform: translateY(-40px);
			opacity: 0;
		}
	}

	#particles {
		animation: fade-particles 5s infinite alternate;
	}
	.particle {
		animation: floatUp linear infinite;
	}

	.p1 {
		animation-duration: 2.2s;
		animation-delay: 0s;
	}
	.p2 {
		animation-duration: 2.5s;
		animation-delay: 0.3s;
	}
	.p3 {
		animation-duration: 2s;
		animation-delay: 0.6s;
	}
	.p4 {
		animation-duration: 2.8s;
		animation-delay: 0.2s;
	}
	.p5 {
		animation-duration: 2.3s;
		animation-delay: 0.4s;
	}
	.p6 {
		animation-duration: 3s;
		animation-delay: 0.1s;
	}
	.p7 {
		animation-duration: 2.1s;
		animation-delay: 0.5s;
	}
	.p8 {
		animation-duration: 2.6s;
		animation-delay: 0.2s;
	}
	.p9 {
		animation-duration: 2.4s;
		animation-delay: 0.3s;
	}

	@keyframes bounce-lines {
		0%,
		100% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(-3px);
		}
	}

	#line-v1,
	#line-v2,
	#node-server,
	#panel-rigth,
	#reflectores,
	#particles {
		animation: bounce-lines 3s ease-in-out infinite alternate;
	}
	#line-v2 {
		animation-delay: 0.2s;
	}

	#node-server,
	#panel-rigth,
	#reflectores,
	#particles {
		animation-delay: 0.4s;
	}
}


.loader_pixel {
	--zoom: 0.3;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	--wh: calc(12 * 1px);
	--wh-n: calc(12 * -1px);
	width: calc(12 * var(--wh));
	height: calc(12 * var(--wh));
	--color: #fff;
	--blur: 0;
	filter: drop-shadow(var(--wh-n) 0 var(--blur) var(--color))
	  drop-shadow(0 var(--wh-n) var(--blur) var(--color))
	  drop-shadow(var(--wh) 0 var(--blur) var(--color))
	  drop-shadow(0 var(--wh) var(--blur) var(--color));
	image-rendering: pixelated;
	zoom: var(--zoom);
	animation: mover 0.3s linear infinite;
  
	.pixel {
	  width: var(--wh);
	  height: var(--wh);
	  box-shadow: var(--shadow);
	}
  }
  
  @keyframes mover {
	0%,
	100% {
	  --shadow: 0px 0px transparent, 24px 0px transparent, 48px 0px transparent,
		72px 0px transparent, 96px 0px transparent, 120px 0px transparent,
		144px 0px transparent, 168px 0px transparent, 192px 0px transparent,
		216px 0px transparent, 240px 0px transparent, 264px 0px transparent,
		288px 0px transparent, 312px 0px #535353, 336px 0px #535353,
		360px 0px #535353, 384px 0px #535353, 408px 0px #535353, 432px 0px #535353,
		456px 0px #535353, 480px 0px #535353, 504px 0px #535353, 528px 0px #535353,
		552px 0px transparent, 0px 24px transparent, 24px 24px transparent,
		48px 24px transparent, 72px 24px transparent, 96px 24px transparent,
		120px 24px transparent, 144px 24px transparent, 168px 24px transparent,
		192px 24px transparent, 216px 24px transparent, 240px 24px transparent,
		264px 24px transparent, 288px 24px #535353, 312px 24px #535353,
		336px 24px #535353, 360px 24px #535353, 384px 24px #535353,
		408px 24px #535353, 432px 24px #535353, 456px 24px #535353,
		480px 24px #535353, 504px 24px #535353, 528px 24px #535353,
		552px 24px #535353, 0px 48px transparent, 24px 48px transparent,
		48px 48px transparent, 72px 48px transparent, 96px 48px transparent,
		120px 48px transparent, 144px 48px transparent, 168px 48px transparent,
		192px 48px transparent, 216px 48px transparent, 240px 48px transparent,
		264px 48px transparent, 288px 48px #535353, 312px 48px #535353,
		336px 48px transparent, 360px 48px transparent, 384px 48px #535353,
		408px 48px #535353, 432px 48px #535353, 456px 48px #535353,
		480px 48px #535353, 504px 48px #535353, 528px 48px #535353,
		552px 48px #535353, 0px 72px transparent, 24px 72px transparent,
		48px 72px transparent, 72px 72px transparent, 96px 72px transparent,
		120px 72px transparent, 144px 72px transparent, 168px 72px transparent,
		192px 72px transparent, 216px 72px transparent, 240px 72px transparent,
		264px 72px transparent, 288px 72px #535353, 312px 72px #535353,
		336px 72px transparent, 360px 72px transparent, 384px 72px #535353,
		408px 72px #535353, 432px 72px #535353, 456px 72px #535353,
		480px 72px #535353, 504px 72px #535353, 528px 72px #535353,
		552px 72px #535353, 0px 96px transparent, 24px 96px transparent,
		48px 96px transparent, 72px 96px transparent, 96px 96px transparent,
		120px 96px transparent, 144px 96px transparent, 168px 96px transparent,
		192px 96px transparent, 216px 96px transparent, 240px 96px transparent,
		264px 96px transparent, 288px 96px #535353, 312px 96px #535353,
		336px 96px #535353, 360px 96px #535353, 384px 96px #535353,
		408px 96px #535353, 432px 96px #535353, 456px 96px #535353,
		480px 96px #535353, 504px 96px #535353, 528px 96px #535353,
		552px 96px #535353, 0px 120px transparent, 24px 120px transparent,
		48px 120px transparent, 72px 120px transparent, 96px 120px transparent,
		120px 120px transparent, 144px 120px transparent, 168px 120px transparent,
		192px 120px transparent, 216px 120px transparent, 240px 120px transparent,
		264px 120px transparent, 288px 120px #535353, 312px 120px #535353,
		336px 120px #535353, 360px 120px #535353, 384px 120px #535353,
		408px 120px #535353, 432px 120px #535353, 456px 120px #535353,
		480px 120px #535353, 504px 120px #535353, 528px 120px #535353,
		552px 120px #535353, 0px 144px transparent, 24px 144px transparent,
		48px 144px transparent, 72px 144px transparent, 96px 144px transparent,
		120px 144px transparent, 144px 144px transparent, 168px 144px transparent,
		192px 144px transparent, 216px 144px transparent, 240px 144px transparent,
		264px 144px transparent, 288px 144px #535353, 312px 144px #535353,
		336px 144px #535353, 360px 144px #535353, 384px 144px #535353,
		408px 144px #535353, 432px 144px transparent, 456px 144px transparent,
		480px 144px transparent, 504px 144px transparent, 528px 144px transparent,
		552px 144px transparent, 0px 168px transparent, 24px 168px transparent,
		48px 168px transparent, 72px 168px transparent, 96px 168px transparent,
		120px 168px transparent, 144px 168px transparent, 168px 168px transparent,
		192px 168px transparent, 216px 168px transparent, 240px 168px transparent,
		264px 168px transparent, 288px 168px #535353, 312px 168px #535353,
		336px 168px #535353, 360px 168px #535353, 384px 168px #535353,
		408px 168px #535353, 432px 168px transparent, 456px 168px transparent,
		480px 168px transparent, 504px 168px transparent, 528px 168px transparent,
		552px 168px transparent, 0px 192px transparent, 24px 192px transparent,
		48px 192px transparent, 72px 192px transparent, 96px 192px transparent,
		120px 192px transparent, 144px 192px transparent, 168px 192px transparent,
		192px 192px transparent, 216px 192px transparent, 240px 192px transparent,
		264px 192px transparent, 288px 192px #535353, 312px 192px #535353,
		336px 192px #535353, 360px 192px #535353, 384px 192px #535353,
		408px 192px #535353, 432px 192px #535353, 456px 192px #535353,
		480px 192px #535353, 504px 192px #535353, 528px 192px transparent,
		552px 192px transparent, 0px 216px #535353, 24px 216px transparent,
		48px 216px transparent, 72px 216px transparent, 96px 216px transparent,
		120px 216px transparent, 144px 216px transparent, 168px 216px transparent,
		192px 216px transparent, 216px 216px transparent, 240px 216px #535353,
		264px 216px #535353, 288px 216px #535353, 312px 216px #535353,
		336px 216px #535353, 360px 216px #535353, 384px 216px #535353,
		408px 216px transparent, 432px 216px transparent, 456px 216px transparent,
		480px 216px transparent, 504px 216px transparent, 528px 216px transparent,
		552px 216px transparent, 0px 240px #535353, 24px 240px transparent,
		48px 240px transparent, 72px 240px transparent, 96px 240px transparent,
		120px 240px transparent, 144px 240px transparent, 168px 240px transparent,
		192px 240px #535353, 216px 240px #535353, 240px 240px #535353,
		264px 240px #535353, 288px 240px #535353, 312px 240px #535353,
		336px 240px #535353, 360px 240px #535353, 384px 240px #535353,
		408px 240px transparent, 432px 240px transparent, 456px 240px transparent,
		480px 240px transparent, 504px 240px transparent, 528px 240px transparent,
		552px 240px transparent, 0px 264px #535353, 24px 264px #535353,
		48px 264px transparent, 72px 264px transparent, 96px 264px transparent,
		120px 264px transparent, 144px 264px transparent, 168px 264px #535353,
		192px 264px #535353, 216px 264px #535353, 240px 264px #535353,
		264px 264px #535353, 288px 264px #535353, 312px 264px #535353,
		336px 264px #535353, 360px 264px #535353, 384px 264px #535353,
		408px 264px #535353, 432px 264px #535353, 456px 264px transparent,
		480px 264px transparent, 504px 264px transparent, 528px 264px transparent,
		552px 264px transparent, 0px 288px #535353, 24px 288px #535353,
		48px 288px #535353, 72px 288px transparent, 96px 288px transparent,
		120px 288px transparent, 144px 288px #535353, 168px 288px #535353,
		192px 288px #535353, 216px 288px #535353, 240px 288px #535353,
		264px 288px #535353, 288px 288px #535353, 312px 288px #535353,
		336px 288px #535353, 360px 288px #535353, 384px 288px #535353,
		408px 288px transparent, 432px 288px #535353, 456px 288px transparent,
		480px 288px transparent, 504px 288px transparent, 528px 288px transparent,
		552px 288px transparent, 0px 312px #535353, 24px 312px #535353,
		48px 312px #535353, 72px 312px #535353, 96px 312px #535353,
		120px 312px #535353, 144px 312px #535353, 168px 312px #535353,
		192px 312px #535353, 216px 312px #535353, 240px 312px #535353,
		264px 312px #535353, 288px 312px #535353, 312px 312px #535353,
		336px 312px #535353, 360px 312px #535353, 384px 312px #535353,
		408px 312px transparent, 432px 312px transparent, 456px 312px transparent,
		480px 312px transparent, 504px 312px transparent, 528px 312px transparent,
		552px 312px transparent, 0px 336px #535353, 24px 336px #535353,
		48px 336px #535353, 72px 336px #535353, 96px 336px #535353,
		120px 336px #535353, 144px 336px #535353, 168px 336px #535353,
		192px 336px #535353, 216px 336px #535353, 240px 336px #535353,
		264px 336px #535353, 288px 336px #535353, 312px 336px #535353,
		336px 336px #535353, 360px 336px #535353, 384px 336px #535353,
		408px 336px transparent, 432px 336px transparent, 456px 336px transparent,
		480px 336px transparent, 504px 336px transparent, 528px 336px transparent,
		552px 336px transparent, 0px 360px transparent, 24px 360px #535353,
		48px 360px #535353, 72px 360px #535353, 96px 360px #535353,
		120px 360px #535353, 144px 360px #535353, 168px 360px #535353,
		192px 360px #535353, 216px 360px #535353, 240px 360px #535353,
		264px 360px #535353, 288px 360px #535353, 312px 360px #535353,
		336px 360px #535353, 360px 360px #535353, 384px 360px #535353,
		408px 360px transparent, 432px 360px transparent, 456px 360px transparent,
		480px 360px transparent, 504px 360px transparent, 528px 360px transparent,
		552px 360px transparent, 0px 384px transparent, 24px 384px transparent,
		48px 384px #535353, 72px 384px #535353, 96px 384px #535353,
		120px 384px #535353, 144px 384px #535353, 168px 384px #535353,
		192px 384px #535353, 216px 384px #535353, 240px 384px #535353,
		264px 384px #535353, 288px 384px #535353, 312px 384px #535353,
		336px 384px #535353, 360px 384px #535353, 384px 384px transparent,
		408px 384px transparent, 432px 384px transparent, 456px 384px transparent,
		480px 384px transparent, 504px 384px transparent, 528px 384px transparent,
		552px 384px transparent, 0px 408px transparent, 24px 408px transparent,
		48px 408px transparent, 72px 408px #535353, 96px 408px #535353,
		120px 408px #535353, 144px 408px #535353, 168px 408px #535353,
		192px 408px #535353, 216px 408px #535353, 240px 408px #535353,
		264px 408px #535353, 288px 408px #535353, 312px 408px #535353,
		336px 408px #535353, 360px 408px transparent, 384px 408px transparent,
		408px 408px transparent, 432px 408px transparent, 456px 408px transparent,
		480px 408px transparent, 504px 408px transparent, 528px 408px transparent,
		552px 408px transparent, 0px 432px transparent, 24px 432px transparent,
		48px 432px transparent, 72px 432px transparent, 96px 432px #535353,
		120px 432px #535353, 144px 432px #535353, 168px 432px #535353,
		192px 432px #535353, 216px 432px #535353, 240px 432px #535353,
		264px 432px #535353, 288px 432px #535353, 312px 432px #535353,
		336px 432px transparent, 360px 432px transparent, 384px 432px transparent,
		408px 432px transparent, 432px 432px transparent, 456px 432px transparent,
		480px 432px transparent, 504px 432px transparent, 528px 432px transparent,
		552px 432px transparent, 0px 456px transparent, 24px 456px transparent,
		48px 456px transparent, 72px 456px transparent, 96px 456px transparent,
		120px 456px #535353, 144px 456px #535353, 168px 456px #535353,
		192px 456px #535353, 216px 456px #535353, 240px 456px #535353,
		264px 456px #535353, 288px 456px #535353, 312px 456px transparent,
		336px 456px transparent, 360px 456px transparent, 384px 456px transparent,
		408px 456px transparent, 432px 456px transparent, 456px 456px transparent,
		480px 456px transparent, 504px 456px transparent, 528px 456px transparent,
		552px 456px transparent, 0px 480px transparent, 24px 480px transparent,
		48px 480px transparent, 72px 480px transparent, 96px 480px transparent,
		120px 480px transparent, 144px 480px #535353, 168px 480px #535353,
		192px 480px #535353, 216px 480px transparent, 240px 480px transparent,
		264px 480px #535353, 288px 480px #535353, 312px 480px transparent,
		336px 480px transparent, 360px 480px transparent, 384px 480px transparent,
		408px 480px transparent, 432px 480px transparent, 456px 480px transparent,
		480px 480px transparent, 504px 480px transparent, 528px 480px transparent,
		552px 480px transparent, 0px 504px transparent, 24px 504px transparent,
		48px 504px transparent, 72px 504px transparent, 96px 504px transparent,
		120px 504px transparent, 144px 504px #535353, 168px 504px #535353,
		192px 504px transparent, 216px 504px transparent, 240px 504px transparent,
		264px 504px transparent, 288px 504px #535353, 312px 504px transparent,
		336px 504px transparent, 360px 504px transparent, 384px 504px transparent,
		408px 504px transparent, 432px 504px transparent, 456px 504px transparent,
		480px 504px transparent, 504px 504px transparent, 528px 504px transparent,
		552px 504px transparent, 0px 528px transparent, 24px 528px transparent,
		48px 528px transparent, 72px 528px transparent, 96px 528px transparent,
		120px 528px transparent, 144px 528px #535353, 168px 528px transparent,
		192px 528px transparent, 216px 528px transparent, 240px 528px transparent,
		264px 528px transparent, 288px 528px #535353, 312px 528px transparent,
		336px 528px transparent, 360px 528px transparent, 384px 528px transparent,
		408px 528px transparent, 432px 528px transparent, 456px 528px transparent,
		480px 528px transparent, 504px 528px transparent, 528px 528px transparent,
		552px 528px transparent, 0px 552px transparent, 24px 552px transparent,
		48px 552px transparent, 72px 552px transparent, 96px 552px transparent,
		120px 552px transparent, 144px 552px #535353, 168px 552px #535353,
		192px 552px transparent, 216px 552px transparent, 240px 552px transparent,
		264px 552px transparent, 288px 552px #535353, 312px 552px #535353,
		336px 552px transparent, 360px 552px transparent, 384px 552px transparent,
		408px 552px transparent, 432px 552px transparent, 456px 552px transparent,
		480px 552px transparent, 504px 552px transparent, 528px 552px transparent,
		552px 552px transparent;
	}
	33% {
	  --shadow: 0px 0px transparent, 24px 0px transparent, 48px 0px transparent,
		72px 0px transparent, 96px 0px transparent, 120px 0px transparent,
		144px 0px transparent, 168px 0px transparent, 192px 0px transparent,
		216px 0px transparent, 240px 0px transparent, 264px 0px transparent,
		288px 0px transparent, 312px 0px #535353, 336px 0px #535353,
		360px 0px #535353, 384px 0px #535353, 408px 0px #535353, 432px 0px #535353,
		456px 0px #535353, 480px 0px #535353, 504px 0px #535353, 528px 0px #535353,
		552px 0px transparent, 0px 24px transparent, 24px 24px transparent,
		48px 24px transparent, 72px 24px transparent, 96px 24px transparent,
		120px 24px transparent, 144px 24px transparent, 168px 24px transparent,
		192px 24px transparent, 216px 24px transparent, 240px 24px transparent,
		264px 24px transparent, 288px 24px #535353, 312px 24px #535353,
		336px 24px #535353, 360px 24px #535353, 384px 24px #535353,
		408px 24px #535353, 432px 24px #535353, 456px 24px #535353,
		480px 24px #535353, 504px 24px #535353, 528px 24px #535353,
		552px 24px #535353, 0px 48px transparent, 24px 48px transparent,
		48px 48px transparent, 72px 48px transparent, 96px 48px transparent,
		120px 48px transparent, 144px 48px transparent, 168px 48px transparent,
		192px 48px transparent, 216px 48px transparent, 240px 48px transparent,
		264px 48px transparent, 288px 48px #535353, 312px 48px #535353,
		336px 48px transparent, 360px 48px transparent, 384px 48px #535353,
		408px 48px #535353, 432px 48px #535353, 456px 48px #535353,
		480px 48px #535353, 504px 48px #535353, 528px 48px #535353,
		552px 48px #535353, 0px 72px transparent, 24px 72px transparent,
		48px 72px transparent, 72px 72px transparent, 96px 72px transparent,
		120px 72px transparent, 144px 72px transparent, 168px 72px transparent,
		192px 72px transparent, 216px 72px transparent, 240px 72px transparent,
		264px 72px transparent, 288px 72px #535353, 312px 72px #535353,
		336px 72px transparent, 360px 72px transparent, 384px 72px #535353,
		408px 72px #535353, 432px 72px #535353, 456px 72px #535353,
		480px 72px #535353, 504px 72px #535353, 528px 72px #535353,
		552px 72px #535353, 0px 96px transparent, 24px 96px transparent,
		48px 96px transparent, 72px 96px transparent, 96px 96px transparent,
		120px 96px transparent, 144px 96px transparent, 168px 96px transparent,
		192px 96px transparent, 216px 96px transparent, 240px 96px transparent,
		264px 96px transparent, 288px 96px #535353, 312px 96px #535353,
		336px 96px #535353, 360px 96px #535353, 384px 96px #535353,
		408px 96px #535353, 432px 96px #535353, 456px 96px #535353,
		480px 96px #535353, 504px 96px #535353, 528px 96px #535353,
		552px 96px #535353, 0px 120px transparent, 24px 120px transparent,
		48px 120px transparent, 72px 120px transparent, 96px 120px transparent,
		120px 120px transparent, 144px 120px transparent, 168px 120px transparent,
		192px 120px transparent, 216px 120px transparent, 240px 120px transparent,
		264px 120px transparent, 288px 120px #535353, 312px 120px #535353,
		336px 120px #535353, 360px 120px #535353, 384px 120px #535353,
		408px 120px #535353, 432px 120px #535353, 456px 120px #535353,
		480px 120px #535353, 504px 120px #535353, 528px 120px #535353,
		552px 120px #535353, 0px 144px transparent, 24px 144px transparent,
		48px 144px transparent, 72px 144px transparent, 96px 144px transparent,
		120px 144px transparent, 144px 144px transparent, 168px 144px transparent,
		192px 144px transparent, 216px 144px transparent, 240px 144px transparent,
		264px 144px transparent, 288px 144px #535353, 312px 144px #535353,
		336px 144px #535353, 360px 144px #535353, 384px 144px #535353,
		408px 144px #535353, 432px 144px transparent, 456px 144px transparent,
		480px 144px transparent, 504px 144px transparent, 528px 144px transparent,
		552px 144px transparent, 0px 168px transparent, 24px 168px transparent,
		48px 168px transparent, 72px 168px transparent, 96px 168px transparent,
		120px 168px transparent, 144px 168px transparent, 168px 168px transparent,
		192px 168px transparent, 216px 168px transparent, 240px 168px transparent,
		264px 168px transparent, 288px 168px #535353, 312px 168px #535353,
		336px 168px #535353, 360px 168px #535353, 384px 168px #535353,
		408px 168px #535353, 432px 168px transparent, 456px 168px transparent,
		480px 168px transparent, 504px 168px transparent, 528px 168px transparent,
		552px 168px transparent, 0px 192px transparent, 24px 192px transparent,
		48px 192px transparent, 72px 192px transparent, 96px 192px transparent,
		120px 192px transparent, 144px 192px transparent, 168px 192px transparent,
		192px 192px transparent, 216px 192px transparent, 240px 192px transparent,
		264px 192px transparent, 288px 192px #535353, 312px 192px #535353,
		336px 192px #535353, 360px 192px #535353, 384px 192px #535353,
		408px 192px #535353, 432px 192px #535353, 456px 192px #535353,
		480px 192px #535353, 504px 192px #535353, 528px 192px transparent,
		552px 192px transparent, 0px 216px #535353, 24px 216px transparent,
		48px 216px transparent, 72px 216px transparent, 96px 216px transparent,
		120px 216px transparent, 144px 216px transparent, 168px 216px transparent,
		192px 216px transparent, 216px 216px transparent, 240px 216px #535353,
		264px 216px #535353, 288px 216px #535353, 312px 216px #535353,
		336px 216px #535353, 360px 216px #535353, 384px 216px #535353,
		408px 216px transparent, 432px 216px transparent, 456px 216px transparent,
		480px 216px transparent, 504px 216px transparent, 528px 216px transparent,
		552px 216px transparent, 0px 240px #535353, 24px 240px transparent,
		48px 240px transparent, 72px 240px transparent, 96px 240px transparent,
		120px 240px transparent, 144px 240px transparent, 168px 240px transparent,
		192px 240px #535353, 216px 240px #535353, 240px 240px #535353,
		264px 240px #535353, 288px 240px #535353, 312px 240px #535353,
		336px 240px #535353, 360px 240px #535353, 384px 240px #535353,
		408px 240px transparent, 432px 240px transparent, 456px 240px transparent,
		480px 240px transparent, 504px 240px transparent, 528px 240px transparent,
		552px 240px transparent, 0px 264px #535353, 24px 264px #535353,
		48px 264px transparent, 72px 264px transparent, 96px 264px transparent,
		120px 264px transparent, 144px 264px transparent, 168px 264px #535353,
		192px 264px #535353, 216px 264px #535353, 240px 264px #535353,
		264px 264px #535353, 288px 264px #535353, 312px 264px #535353,
		336px 264px #535353, 360px 264px #535353, 384px 264px #535353,
		408px 264px #535353, 432px 264px #535353, 456px 264px transparent,
		480px 264px transparent, 504px 264px transparent, 528px 264px transparent,
		552px 264px transparent, 0px 288px #535353, 24px 288px #535353,
		48px 288px #535353, 72px 288px transparent, 96px 288px transparent,
		120px 288px transparent, 144px 288px #535353, 168px 288px #535353,
		192px 288px #535353, 216px 288px #535353, 240px 288px #535353,
		264px 288px #535353, 288px 288px #535353, 312px 288px #535353,
		336px 288px #535353, 360px 288px #535353, 384px 288px #535353,
		408px 288px transparent, 432px 288px #535353, 456px 288px transparent,
		480px 288px transparent, 504px 288px transparent, 528px 288px transparent,
		552px 288px transparent, 0px 312px #535353, 24px 312px #535353,
		48px 312px #535353, 72px 312px #535353, 96px 312px #535353,
		120px 312px #535353, 144px 312px #535353, 168px 312px #535353,
		192px 312px #535353, 216px 312px #535353, 240px 312px #535353,
		264px 312px #535353, 288px 312px #535353, 312px 312px #535353,
		336px 312px #535353, 360px 312px #535353, 384px 312px #535353,
		408px 312px transparent, 432px 312px transparent, 456px 312px transparent,
		480px 312px transparent, 504px 312px transparent, 528px 312px transparent,
		552px 312px transparent, 0px 336px #535353, 24px 336px #535353,
		48px 336px #535353, 72px 336px #535353, 96px 336px #535353,
		120px 336px #535353, 144px 336px #535353, 168px 336px #535353,
		192px 336px #535353, 216px 336px #535353, 240px 336px #535353,
		264px 336px #535353, 288px 336px #535353, 312px 336px #535353,
		336px 336px #535353, 360px 336px #535353, 384px 336px #535353,
		408px 336px transparent, 432px 336px transparent, 456px 336px transparent,
		480px 336px transparent, 504px 336px transparent, 528px 336px transparent,
		552px 336px transparent, 0px 360px transparent, 24px 360px #535353,
		48px 360px #535353, 72px 360px #535353, 96px 360px #535353,
		120px 360px #535353, 144px 360px #535353, 168px 360px #535353,
		192px 360px #535353, 216px 360px #535353, 240px 360px #535353,
		264px 360px #535353, 288px 360px #535353, 312px 360px #535353,
		336px 360px #535353, 360px 360px #535353, 384px 360px #535353,
		408px 360px transparent, 432px 360px transparent, 456px 360px transparent,
		480px 360px transparent, 504px 360px transparent, 528px 360px transparent,
		552px 360px transparent, 0px 384px transparent, 24px 384px transparent,
		48px 384px #535353, 72px 384px #535353, 96px 384px #535353,
		120px 384px #535353, 144px 384px #535353, 168px 384px #535353,
		192px 384px #535353, 216px 384px #535353, 240px 384px #535353,
		264px 384px #535353, 288px 384px #535353, 312px 384px #535353,
		336px 384px #535353, 360px 384px #535353, 384px 384px transparent,
		408px 384px transparent, 432px 384px transparent, 456px 384px transparent,
		480px 384px transparent, 504px 384px transparent, 528px 384px transparent,
		552px 384px transparent, 0px 408px transparent, 24px 408px transparent,
		48px 408px transparent, 72px 408px #535353, 96px 408px #535353,
		120px 408px #535353, 144px 408px #535353, 168px 408px #535353,
		192px 408px #535353, 216px 408px #535353, 240px 408px #535353,
		264px 408px #535353, 288px 408px #535353, 312px 408px #535353,
		336px 408px #535353, 360px 408px transparent, 384px 408px transparent,
		408px 408px transparent, 432px 408px transparent, 456px 408px transparent,
		480px 408px transparent, 504px 408px transparent, 528px 408px transparent,
		552px 408px transparent, 0px 432px transparent, 24px 432px transparent,
		48px 432px transparent, 72px 432px transparent, 96px 432px #535353,
		120px 432px #535353, 144px 432px #535353, 168px 432px #535353,
		192px 432px #535353, 216px 432px #535353, 240px 432px #535353,
		264px 432px #535353, 288px 432px #535353, 312px 432px #535353,
		336px 432px transparent, 360px 432px transparent, 384px 432px transparent,
		408px 432px transparent, 432px 432px transparent, 456px 432px transparent,
		480px 432px transparent, 504px 432px transparent, 528px 432px transparent,
		552px 432px transparent, 0px 456px transparent, 24px 456px transparent,
		48px 456px transparent, 72px 456px transparent, 96px 456px transparent,
		120px 456px #535353, 144px 456px #535353, 168px 456px #535353,
		192px 456px #535353, 216px 456px #535353, 240px 456px #535353,
		264px 456px #535353, 288px 456px #535353, 312px 456px transparent,
		336px 456px transparent, 360px 456px transparent, 384px 456px transparent,
		408px 456px transparent, 432px 456px transparent, 456px 456px transparent,
		480px 456px transparent, 504px 456px transparent, 528px 456px transparent,
		552px 456px transparent, 0px 480px transparent, 24px 480px transparent,
		48px 480px transparent, 72px 480px transparent, 96px 480px transparent,
		120px 480px transparent, 144px 480px #535353, 168px 480px #535353,
		192px 480px #535353, 216px 480px transparent, 240px 480px transparent,
		264px 480px #535353, 288px 480px #535353, 312px 480px #535353,
		336px 480px transparent, 360px 480px transparent, 384px 480px transparent,
		408px 480px transparent, 432px 480px transparent, 456px 480px transparent,
		480px 480px transparent, 504px 480px transparent, 528px 480px transparent,
		552px 480px transparent, 0px 504px transparent, 24px 504px transparent,
		48px 504px transparent, 72px 504px transparent, 96px 504px transparent,
		120px 504px transparent, 144px 504px #535353, 168px 504px #535353,
		192px 504px transparent, 216px 504px transparent, 240px 504px transparent,
		264px 504px transparent, 288px 504px transparent, 312px 504px transparent,
		336px 504px transparent, 360px 504px transparent, 384px 504px transparent,
		408px 504px transparent, 432px 504px transparent, 456px 504px transparent,
		480px 504px transparent, 504px 504px transparent, 528px 504px transparent,
		552px 504px transparent, 0px 528px transparent, 24px 528px transparent,
		48px 528px transparent, 72px 528px transparent, 96px 528px transparent,
		120px 528px transparent, 144px 528px #535353, 168px 528px transparent,
		192px 528px transparent, 216px 528px transparent, 240px 528px transparent,
		264px 528px transparent, 288px 528px transparent, 312px 528px transparent,
		336px 528px transparent, 360px 528px transparent, 384px 528px transparent,
		408px 528px transparent, 432px 528px transparent, 456px 528px transparent,
		480px 528px transparent, 504px 528px transparent, 528px 528px transparent,
		552px 528px transparent, 0px 552px transparent, 24px 552px transparent,
		48px 552px transparent, 72px 552px transparent, 96px 552px transparent,
		120px 552px transparent, 144px 552px #535353, 168px 552px #535353,
		192px 552px transparent, 216px 552px transparent, 240px 552px transparent,
		264px 552px transparent, 288px 552px transparent, 312px 552px transparent,
		336px 552px transparent, 360px 552px transparent, 384px 552px transparent,
		408px 552px transparent, 432px 552px transparent, 456px 552px transparent,
		480px 552px transparent, 504px 552px transparent, 528px 552px transparent,
		552px 552px transparent;
	}
	66% {
	  --shadow: 0px 0px transparent, 24px 0px transparent, 48px 0px transparent,
		72px 0px transparent, 96px 0px transparent, 120px 0px transparent,
		144px 0px transparent, 168px 0px transparent, 192px 0px transparent,
		216px 0px transparent, 240px 0px transparent, 264px 0px transparent,
		288px 0px transparent, 312px 0px #535353, 336px 0px #535353,
		360px 0px #535353, 384px 0px #535353, 408px 0px #535353, 432px 0px #535353,
		456px 0px #535353, 480px 0px #535353, 504px 0px #535353, 528px 0px #535353,
		552px 0px transparent, 0px 24px transparent, 24px 24px transparent,
		48px 24px transparent, 72px 24px transparent, 96px 24px transparent,
		120px 24px transparent, 144px 24px transparent, 168px 24px transparent,
		192px 24px transparent, 216px 24px transparent, 240px 24px transparent,
		264px 24px transparent, 288px 24px #535353, 312px 24px #535353,
		336px 24px #535353, 360px 24px #535353, 384px 24px #535353,
		408px 24px #535353, 432px 24px #535353, 456px 24px #535353,
		480px 24px #535353, 504px 24px #535353, 528px 24px #535353,
		552px 24px #535353, 0px 48px transparent, 24px 48px transparent,
		48px 48px transparent, 72px 48px transparent, 96px 48px transparent,
		120px 48px transparent, 144px 48px transparent, 168px 48px transparent,
		192px 48px transparent, 216px 48px transparent, 240px 48px transparent,
		264px 48px transparent, 288px 48px #535353, 312px 48px #535353,
		336px 48px transparent, 360px 48px transparent, 384px 48px #535353,
		408px 48px #535353, 432px 48px #535353, 456px 48px #535353,
		480px 48px #535353, 504px 48px #535353, 528px 48px #535353,
		552px 48px #535353, 0px 72px transparent, 24px 72px transparent,
		48px 72px transparent, 72px 72px transparent, 96px 72px transparent,
		120px 72px transparent, 144px 72px transparent, 168px 72px transparent,
		192px 72px transparent, 216px 72px transparent, 240px 72px transparent,
		264px 72px transparent, 288px 72px #535353, 312px 72px #535353,
		336px 72px transparent, 360px 72px transparent, 384px 72px #535353,
		408px 72px #535353, 432px 72px #535353, 456px 72px #535353,
		480px 72px #535353, 504px 72px #535353, 528px 72px #535353,
		552px 72px #535353, 0px 96px transparent, 24px 96px transparent,
		48px 96px transparent, 72px 96px transparent, 96px 96px transparent,
		120px 96px transparent, 144px 96px transparent, 168px 96px transparent,
		192px 96px transparent, 216px 96px transparent, 240px 96px transparent,
		264px 96px transparent, 288px 96px #535353, 312px 96px #535353,
		336px 96px #535353, 360px 96px #535353, 384px 96px #535353,
		408px 96px #535353, 432px 96px #535353, 456px 96px #535353,
		480px 96px #535353, 504px 96px #535353, 528px 96px #535353,
		552px 96px #535353, 0px 120px transparent, 24px 120px transparent,
		48px 120px transparent, 72px 120px transparent, 96px 120px transparent,
		120px 120px transparent, 144px 120px transparent, 168px 120px transparent,
		192px 120px transparent, 216px 120px transparent, 240px 120px transparent,
		264px 120px transparent, 288px 120px #535353, 312px 120px #535353,
		336px 120px #535353, 360px 120px #535353, 384px 120px #535353,
		408px 120px #535353, 432px 120px #535353, 456px 120px #535353,
		480px 120px #535353, 504px 120px #535353, 528px 120px #535353,
		552px 120px #535353, 0px 144px transparent, 24px 144px transparent,
		48px 144px transparent, 72px 144px transparent, 96px 144px transparent,
		120px 144px transparent, 144px 144px transparent, 168px 144px transparent,
		192px 144px transparent, 216px 144px transparent, 240px 144px transparent,
		264px 144px transparent, 288px 144px #535353, 312px 144px #535353,
		336px 144px #535353, 360px 144px #535353, 384px 144px #535353,
		408px 144px #535353, 432px 144px transparent, 456px 144px transparent,
		480px 144px transparent, 504px 144px transparent, 528px 144px transparent,
		552px 144px transparent, 0px 168px transparent, 24px 168px transparent,
		48px 168px transparent, 72px 168px transparent, 96px 168px transparent,
		120px 168px transparent, 144px 168px transparent, 168px 168px transparent,
		192px 168px transparent, 216px 168px transparent, 240px 168px transparent,
		264px 168px transparent, 288px 168px #535353, 312px 168px #535353,
		336px 168px #535353, 360px 168px #535353, 384px 168px #535353,
		408px 168px #535353, 432px 168px transparent, 456px 168px transparent,
		480px 168px transparent, 504px 168px transparent, 528px 168px transparent,
		552px 168px transparent, 0px 192px transparent, 24px 192px transparent,
		48px 192px transparent, 72px 192px transparent, 96px 192px transparent,
		120px 192px transparent, 144px 192px transparent, 168px 192px transparent,
		192px 192px transparent, 216px 192px transparent, 240px 192px transparent,
		264px 192px transparent, 288px 192px #535353, 312px 192px #535353,
		336px 192px #535353, 360px 192px #535353, 384px 192px #535353,
		408px 192px #535353, 432px 192px #535353, 456px 192px #535353,
		480px 192px #535353, 504px 192px #535353, 528px 192px transparent,
		552px 192px transparent, 0px 216px #535353, 24px 216px transparent,
		48px 216px transparent, 72px 216px transparent, 96px 216px transparent,
		120px 216px transparent, 144px 216px transparent, 168px 216px transparent,
		192px 216px transparent, 216px 216px transparent, 240px 216px #535353,
		264px 216px #535353, 288px 216px #535353, 312px 216px #535353,
		336px 216px #535353, 360px 216px #535353, 384px 216px #535353,
		408px 216px transparent, 432px 216px transparent, 456px 216px transparent,
		480px 216px transparent, 504px 216px transparent, 528px 216px transparent,
		552px 216px transparent, 0px 240px #535353, 24px 240px transparent,
		48px 240px transparent, 72px 240px transparent, 96px 240px transparent,
		120px 240px transparent, 144px 240px transparent, 168px 240px transparent,
		192px 240px #535353, 216px 240px #535353, 240px 240px #535353,
		264px 240px #535353, 288px 240px #535353, 312px 240px #535353,
		336px 240px #535353, 360px 240px #535353, 384px 240px #535353,
		408px 240px transparent, 432px 240px transparent, 456px 240px transparent,
		480px 240px transparent, 504px 240px transparent, 528px 240px transparent,
		552px 240px transparent, 0px 264px #535353, 24px 264px #535353,
		48px 264px transparent, 72px 264px transparent, 96px 264px transparent,
		120px 264px transparent, 144px 264px transparent, 168px 264px #535353,
		192px 264px #535353, 216px 264px #535353, 240px 264px #535353,
		264px 264px #535353, 288px 264px #535353, 312px 264px #535353,
		336px 264px #535353, 360px 264px #535353, 384px 264px #535353,
		408px 264px #535353, 432px 264px #535353, 456px 264px transparent,
		480px 264px transparent, 504px 264px transparent, 528px 264px transparent,
		552px 264px transparent, 0px 288px #535353, 24px 288px #535353,
		48px 288px #535353, 72px 288px transparent, 96px 288px transparent,
		120px 288px transparent, 144px 288px #535353, 168px 288px #535353,
		192px 288px #535353, 216px 288px #535353, 240px 288px #535353,
		264px 288px #535353, 288px 288px #535353, 312px 288px #535353,
		336px 288px #535353, 360px 288px #535353, 384px 288px #535353,
		408px 288px transparent, 432px 288px #535353, 456px 288px transparent,
		480px 288px transparent, 504px 288px transparent, 528px 288px transparent,
		552px 288px transparent, 0px 312px #535353, 24px 312px #535353,
		48px 312px #535353, 72px 312px #535353, 96px 312px #535353,
		120px 312px #535353, 144px 312px #535353, 168px 312px #535353,
		192px 312px #535353, 216px 312px #535353, 240px 312px #535353,
		264px 312px #535353, 288px 312px #535353, 312px 312px #535353,
		336px 312px #535353, 360px 312px #535353, 384px 312px #535353,
		408px 312px transparent, 432px 312px transparent, 456px 312px transparent,
		480px 312px transparent, 504px 312px transparent, 528px 312px transparent,
		552px 312px transparent, 0px 336px #535353, 24px 336px #535353,
		48px 336px #535353, 72px 336px #535353, 96px 336px #535353,
		120px 336px #535353, 144px 336px #535353, 168px 336px #535353,
		192px 336px #535353, 216px 336px #535353, 240px 336px #535353,
		264px 336px #535353, 288px 336px #535353, 312px 336px #535353,
		336px 336px #535353, 360px 336px #535353, 384px 336px #535353,
		408px 336px transparent, 432px 336px transparent, 456px 336px transparent,
		480px 336px transparent, 504px 336px transparent, 528px 336px transparent,
		552px 336px transparent, 0px 360px transparent, 24px 360px #535353,
		48px 360px #535353, 72px 360px #535353, 96px 360px #535353,
		120px 360px #535353, 144px 360px #535353, 168px 360px #535353,
		192px 360px #535353, 216px 360px #535353, 240px 360px #535353,
		264px 360px #535353, 288px 360px #535353, 312px 360px #535353,
		336px 360px #535353, 360px 360px #535353, 384px 360px #535353,
		408px 360px transparent, 432px 360px transparent, 456px 360px transparent,
		480px 360px transparent, 504px 360px transparent, 528px 360px transparent,
		552px 360px transparent, 0px 384px transparent, 24px 384px transparent,
		48px 384px #535353, 72px 384px #535353, 96px 384px #535353,
		120px 384px #535353, 144px 384px #535353, 168px 384px #535353,
		192px 384px #535353, 216px 384px #535353, 240px 384px #535353,
		264px 384px #535353, 288px 384px #535353, 312px 384px #535353,
		336px 384px #535353, 360px 384px #535353, 384px 384px transparent,
		408px 384px transparent, 432px 384px transparent, 456px 384px transparent,
		480px 384px transparent, 504px 384px transparent, 528px 384px transparent,
		552px 384px transparent, 0px 408px transparent, 24px 408px transparent,
		48px 408px transparent, 72px 408px #535353, 96px 408px #535353,
		120px 408px #535353, 144px 408px #535353, 168px 408px #535353,
		192px 408px #535353, 216px 408px #535353, 240px 408px #535353,
		264px 408px #535353, 288px 408px #535353, 312px 408px #535353,
		336px 408px #535353, 360px 408px transparent, 384px 408px transparent,
		408px 408px transparent, 432px 408px transparent, 456px 408px transparent,
		480px 408px transparent, 504px 408px transparent, 528px 408px transparent,
		552px 408px transparent, 0px 432px transparent, 24px 432px transparent,
		48px 432px transparent, 72px 432px transparent, 96px 432px #535353,
		120px 432px #535353, 144px 432px #535353, 168px 432px #535353,
		192px 432px #535353, 216px 432px #535353, 240px 432px #535353,
		264px 432px #535353, 288px 432px #535353, 312px 432px #535353,
		336px 432px transparent, 360px 432px transparent, 384px 432px transparent,
		408px 432px transparent, 432px 432px transparent, 456px 432px transparent,
		480px 432px transparent, 504px 432px transparent, 528px 432px transparent,
		552px 432px transparent, 0px 456px transparent, 24px 456px transparent,
		48px 456px transparent, 72px 456px transparent, 96px 456px transparent,
		120px 456px #535353, 144px 456px #535353, 168px 456px #535353,
		192px 456px #535353, 216px 456px #535353, 240px 456px #535353,
		264px 456px #535353, 288px 456px #535353, 312px 456px transparent,
		336px 456px transparent, 360px 456px transparent, 384px 456px transparent,
		408px 456px transparent, 432px 456px transparent, 456px 456px transparent,
		480px 456px transparent, 504px 456px transparent, 528px 456px transparent,
		552px 456px transparent, 0px 480px transparent, 24px 480px transparent,
		48px 480px transparent, 72px 480px transparent, 96px 480px transparent,
		120px 480px transparent, 144px 480px #535353, 168px 480px #535353,
		192px 480px #535353, 216px 480px transparent, 240px 480px transparent,
		264px 480px #535353, 288px 480px #535353, 312px 480px transparent,
		336px 480px transparent, 360px 480px transparent, 384px 480px transparent,
		408px 480px transparent, 432px 480px transparent, 456px 480px transparent,
		480px 480px transparent, 504px 480px transparent, 528px 480px transparent,
		552px 480px transparent, 0px 504px transparent, 24px 504px transparent,
		48px 504px transparent, 72px 504px transparent, 96px 504px transparent,
		120px 504px transparent, 144px 504px transparent, 168px 504px #535353,
		192px 504px #535353, 216px 504px #535353, 240px 504px transparent,
		264px 504px transparent, 288px 504px #535353, 312px 504px transparent,
		336px 504px transparent, 360px 504px transparent, 384px 504px transparent,
		408px 504px transparent, 432px 504px transparent, 456px 504px transparent,
		480px 504px transparent, 504px 504px transparent, 528px 504px transparent,
		552px 504px transparent, 0px 528px transparent, 24px 528px transparent,
		48px 528px transparent, 72px 528px transparent, 96px 528px transparent,
		120px 528px transparent, 144px 528px transparent, 168px 528px transparent,
		192px 528px transparent, 216px 528px transparent, 240px 528px transparent,
		264px 528px transparent, 288px 528px #535353, 312px 528px transparent,
		336px 528px transparent, 360px 528px transparent, 384px 528px transparent,
		408px 528px transparent, 432px 528px transparent, 456px 528px transparent,
		480px 528px transparent, 504px 528px transparent, 528px 528px transparent,
		552px 528px transparent, 0px 552px transparent, 24px 552px transparent,
		48px 552px transparent, 72px 552px transparent, 96px 552px transparent,
		120px 552px transparent, 144px 552px transparent, 168px 552px transparent,
		192px 552px transparent, 216px 552px transparent, 240px 552px transparent,
		264px 552px transparent, 288px 552px #535353, 312px 552px #535353,
		336px 552px transparent, 360px 552px transparent, 384px 552px transparent,
		408px 552px transparent, 432px 552px transparent, 456px 552px transparent,
		480px 552px transparent, 504px 552px transparent, 528px 552px transparent,
		552px 552px transparent;
	}
  }
  

@keyframes typing {
	from {
	  width: 0;
	}
  }
  
  @keyframes blink-caret {
	50% {
	  border-color: transparent;
	}
  }
  
  
  .animation_minBotCat {
	font: bold 200% Consolas, Monaco, monospace;
	border-right: .1em solid white;
	width: 760px;
	margin: 2em 2em;
	color: white;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 5s steps(13, end),
				 blink-caret .5s step-end infinite alternate
  }